/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/
/*
* {
    margin:0;
    padding:0;
} 
*/
/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */
html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 45px;
  /* must be same height as the footer */
}
#footer {
  position: relative;
  margin-top: -45px;
  /* negative value of footer height */
  height: 45px;
  clear: both;
}
/*Opera Fix*/
body:before {
  /* thanks to Maleika (Kohoutec)*/
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/
}
/* 16*0.625=10 */
/* http://gradientcss.com/linear-gradient */
/* this is a green */
/* this is a maroon */
/* this is a light blue */
/* http://flatuicolors.com/ */
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-orange {
  background-color: #ffa500;
}
.bg-blue {
  background-color: #0000ff;
}
.bg-flatui-turquoise {
  background-color: #1abc9c;
}
.bg-flatui-green-sea {
  background-color: #16a085;
}
.bg-flatui-sun-flower {
  background-color: #f1c40f;
}
.bg-flatui-orange {
  background-color: #f39c12;
}
.bg-flatui-emerald {
  background-color: #2ecc71;
}
.bg-flatui-nephritis {
  background-color: #27ae60;
}
.bg-flatui-carrot {
  background-color: #e67e22;
}
.bg-flatui-pumpkin {
  background-color: #d35400;
}
.bg-flatui-peter-river {
  background-color: #3498db;
}
.bg-flatui-belize-hole {
  background-color: #2980b9;
}
.bg-flatui-alizarin {
  background-color: #e74c3c;
}
.bg-flatui-pomegranate {
  background-color: #c0392b;
}
.bg-flatui-amethyst {
  background-color: #9b59b6;
}
.bg-flatui-wisteria {
  background-color: #8e44ad;
}
.bg-flatui-clouds {
  background-color: #ecf0f1;
}
.bg-flatui-silver {
  background-color: #bdc3c7;
}
.bg-flatui-wet-asphalt {
  background-color: #34495e;
}
.bg-flatui-midnight-blue {
  background-color: #2c3e50;
}
.bg-flatui-concrete {
  background-color: #95a5a6;
}
.bg-flatui-asbestos {
  background-color: #7f8c8d;
}
.fg-flatui-turquoise {
  color: #1abc9c;
}
.fg-flatui-green-sea {
  color: #16a085;
}
.fg-flatui-sun-flower {
  color: #f1c40f;
}
.fg-flatui-orange {
  color: #f39c12;
}
.fg-flatui-emerald {
  color: #2ecc71;
}
.fg-flatui-nephritis {
  color: #27ae60;
}
.fg-flatui-carrot {
  color: #e67e22;
}
.fg-flatui-pumpkin {
  color: #d35400;
}
.fg-flatui-peter-river {
  color: #3498db;
}
.fg-flatui-belize-hole {
  color: #2980b9;
}
.fg-flatui-alizarin {
  color: #e74c3c;
}
.fg-flatui-pomegranate {
  color: #c0392b;
}
.fg-flatui-amethyst {
  color: #9b59b6;
}
.fg-flatui-wisteria {
  color: #8e44ad;
}
.fg-flatui-clouds {
  color: #ecf0f1;
}
.fg-flatui-silver {
  color: #bdc3c7;
}
.fg-flatui-wet-asphalt {
  color: #34495e;
}
.fg-flatui-midnight-blue {
  color: #2c3e50;
}
.fg-flatui-concrete {
  color: #95a5a6;
}
.fg-flatui-asbestos {
  color: #7f8c8d;
}
.hidden {
  display: none;
}
.show-hover {
  visibility: hidden;
}
.rounded,
.rounded-10,
.rounded-medium {
  -webkit-border-radius: 0.625em;
  /* Safari prototype */
  -moz-border-radius: 0.625em;
  /* Gecko browsers */
  border-radius: 0.625em;
  /* Everything else - limited support at the moment */
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
#header {
  height: 30px;
  padding: 5px;
}
#header .brand {
  font-size: 30px;
  font-weight: bold;
}
#header .header-right {
  text-align: right;
}
#wrap {
  min-height: 100%;
}
#main {
  text-align: center;
}
#footer {
  text-align: center;
}
.pure-button-facebook {
  color: #ffffff;
  border-radius: 4px;
  background-color: #4c66a4;
}
.pure-button-logout {
  color: #ffffff;
  border-radius: 4px;
  background-color: #ca3c3c;
}
#header {
  background-color: #000000;
  color: #ffffff;
}
#main #map_canvas {
  background-color: #000000;
}
#footer {
  background-color: #000000;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
}
#footer a:hover {
  color: #ffffff;
}
