/* 16*0.625=10 */
/* http://gradientcss.com/linear-gradient */
/* this is a green */
/* this is a maroon */
/* this is a light blue */
/* http://flatuicolors.com/ */
.hidden {
  display: none;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-orange {
  background-color: #ffa500;
}
.bg-blue {
  background-color: #0000ff;
}
.show-hover {
  visibility: hidden;
}
.rounded,
.rounded-10,
.rounded-medium {
  -webkit-border-radius: 0.625em;
  /* Safari prototype */
  -moz-border-radius: 0.625em;
  /* Gecko browsers */
  border-radius: 0.625em;
  /* Everything else - limited support at the moment */
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
