/* this is a green */
/* this is a maroon */
/* this is a light blue */
/* http://flatuicolors.com/ */
.pure-button-facebook {
  color: #ffffff;
  border-radius: 4px;
  background-color: #4c66a4;
}
.pure-button-logout {
  color: #ffffff;
  border-radius: 4px;
  background-color: #ca3c3c;
}
#header {
  background-color: #000000;
  color: #ffffff;
}
#main #map_canvas {
  background-color: #000000;
}
#footer {
  background-color: #000000;
  color: #ffffff;
}
