<link rel="stylesheet" href="//yui.yahooapis.com/pure/{{ site.libs.css.pure }}/pure-min.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" --
  --href="http://yui.yahooapis.com/pure/{{ site.libs.css.pure }}/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet"
          href="http://yui.yahooapis.com/pure/{{ site.libs.css.pure }}/grids-responsive-min.css">
<!--<![endif]-->

{% include htk/fragments/css/fonts.html %}

<link rel="stylesheet" href="css/combined.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/{{ site.libs.css.jqueryui }}/themes/smoothness/jquery-ui.css">
