<header>
  <div id="header">
    <div class="pure-g-r">
      <div class="pure-u-1-2">
        <span class="brand">{{ site.name }}</span>
      </div>
      <div class="pure-u-1-2 header-right">
        <button id="login_button" class="pure-button pure-button-facebook hidden">
          <i class="icon-facebook-sign pull-left"></i>
          Log in with Facebook
        </button>
        <button id="logout_button" class="pure-button pure-button-logout hidden">
          Log Out
        </button>
      </div>
    </div>
  </div>
</header>
