<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.title }}">
    <meta name="viewport" content="width=device-width">

    {% include fragments/css/common.html %}

    {% include fragments/js/common.html %}
  </head>

  <body>
    <div id="fb-root"></div>
    <script src="js/facebook.js"></script>

    <div id="wrap">
      {% include fragments/header.html %}

      <div id="main">
        {{ content }}
      </div>
    </div>

    {% include fragments/footer.html %}

    {% include fragments/js/nonblocking.html %}
  </body>

</html>
