<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% include htk/fragments/page_title.html %}
    {% include htk/fragments/meta.html %}
    {% if site.htk.mobile %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {% else %}
    <meta name="viewport" content="width=device-width">
    {% endif %}
    {% include htk/fragments/css/common.html %}
    {% include htk/fragments/js/common.html %}
  </head>

  <body>
    <div id="fb-root"></div>
    <script src="js/htk/facebook/init.js"></script>

    <div id="wrap">
      {% include htk/fragments/header.html %}

      <div id="main">
        {{ content }}
      </div>
    </div>
    {% if site.htk.show_footer %}
    {% include htk/fragments/footer.html %}
    {% endif %}
    {% include htk/fragments/js/nonblocking.html %}
  </body>
</html>
