body {

}

#header {
    height: 30px;
    padding: 5px;
    .brand {
        font-size: 30px;
        font-weight: bold;
    }
    .header-right {
        text-align: right;
    }
}

#wrap {
    min-height: 100%;
}

#main {
    text-align: center;
}

#footer {
    text-align: center;
}
