<script type="text/javascript">
{% if site.api.parse.app_id and site.api.parse.js_key %}
var PARSE_APPLICATION_ID = '{{ site.api.parse.app_id }}';
var PARSE_JS_KEY = '{{ site.api.parse.js_key }}';
{% else %}
var PARSE_APPLICATION_ID = undefined;
var PARSE_JS_KEY = undefined;
{% endif %}

{% if site.api.facebook.app_id %}
var FACEBOOK_APP_ID = '{{ site.api.facebook.app_id }}';
{% else %}
var FACEBOOK_APP_ID = undefined;
{% endif %}

{% if site.api.google.maps.key %}
var DEFAULT_GMAP_LAT = {{ site.api.google.maps.default_lat }};
var DEFAULT_GMAP_LNG = {{ site.api.google.maps.default_lng }};
var DEFAULT_GMAP_ZOOM = {{ site.api.google.maps.default_zoom }};
var GMAP_CONTAINER = '{{ site.api.google.maps.container }}';
{% endif %}
</script>
