{% if site.api.google.maps.key %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ site.api.google.maps.key }}&sensor={{ site.api.google.maps.sensor }}"></script>
{% if site.api.google.maps.init %}
<script type="text/javascript" src="js/htk/google/maps/init.js"></script>
{% endif %}
{% endif %}
{% include htk/fragments/js/parse.html %}
{% for site_js in site.htk.javascripts %}
<script type="text/javascript" src="{{ site_js }}"></script>
{% endfor %}
{% for page_js in page.javascripts %}
<script type="text/javascript" src="{{ page_js }}"></script>
{% endfor %}
